.posts {
    display: flex;
  }
  
  .posts_list {
    flex: 0 0 30%;
    margin-left: 20px;
  }

  .posts_list ul {
    list-style-type:decimal;
  }

  .posts_list ul li:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .posts_list ul li {
    padding: 10px;
    font-size: 20px;
  }

  .posts_list ul li.select {
    font-weight: bold;
  }
  
  .posts_list h1 {
    margin: 20px;
  }
  
  .posts_comments {
    flex: 1;
    padding: 0 30px;
  }

  .posts_comments h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .posts_comments p {
    text-align:justify;
    margin-top: 20px;
    font-size: 22px;
  }
  
  .posts_comments_item {
    background: azure;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }
  
  .posts_comments_item p {
    font-size: 20px;
  }

  .posts_comments button {
    height: 40px;
    width: 200px;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    background: azure;
    cursor: pointer;
  }
  