body{
    background-image: url("./background.jpg");
}
header {
    background-color: #ccc;
}
.title {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
  }
  
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* increased height to fit icons */
    padding-bottom: 20px;
  }
  
  .toolbar a {
    /*display: flex;*/
    flex-direction: column; /* added to stack icon and text vertically */
    align-items: center;
    /*justify-content: center; /* added to center both icon and text */
    /*background-color: #333;*/
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
  }

  .toolbar a svg{
    padding-right: 10px;
    height: 20px;
    width: 20px;
  }
  
  .toolbar_button:hover {
    background-color: #fff;
    color: #333;
  }
